[tool.poetry]
name = "cheeto"
version = {attr = "cheeto.__version__"}
description = "Utilities for the UC Davis HPC Core Facility."
license = "Proprietary"
authors = [
	"Camille Scott <cswel@ucdavis.edu>"
]
readme = "README.md"
repository = "https://github.com/ucdavis/cheeto"
include = [
	{ path = "cheeto/templates" }
]

[tool.poetry.scripts]
cheeto = "cheeto.__main__:main"

[tool.poetry.dependencies]
python = "^3.10"
rich = "^13.3.1"
ruamel-yaml = "^0.17.21"
marshmallow-dataclass = {extras = ["union"], version = "^8.5.12"}
mergedeep = "^1.3.4"
jinja2 = "^3.1.2"
sh = "^2.0.3"
pyyaml = "^6.0"
pytest = "^7.3.1"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
