Your UC Davis HPC account **{{ username }}** has reappeared in the campus
identity system (IAM) and has been restored. The pending deactivation has been
cancelled and your access to the HPC clusters has been reinstated.

No action is needed on your part. If you believe you received this message in
error, please contact
[hpc-help@ucdavis.edu](mailto:hpc-help@ucdavis.edu?subject=Account%20Restored%3A%20{{username}}).
