Your account and group association on {{ cluster }} has been processed and should be live within 30 minutes.

You can access the cluster from the machine you generated your SSH key on with the following command:

	ssh {{username}}@{{domain}}

{%- if slurm_partitions %}

You can use the following Slurm partitions by specifying "-A {{slurm_account}}" on job submission:
{%- for partition in slurm_partitions %}
- {{partition}}
{%- endfor %}
{%- endif %}

Your home directory has a quota of 20GB to allow for your configuration files and code.
Talk to your sponsor about where to store larger data and results.

{%- if storages %}

You have access to the following group storages:
{%- for path in storages %}
- {{path}}
{%- endfor %}

Talk to your sponsor about how data is organized on these volumes.
{%- endif %}

Please contact hpc-help@ucdavis.edu for support requests.


