Your UC Davis HPC account **{{ username }}** has reached the end of its
offboarding window and has been deactivated. You no longer have access to the
HPC clusters.

If you believe this is an error, or you have regained an active campus
affiliation, please contact
[hpc-help@ucdavis.edu](mailto:hpc-help@ucdavis.edu?subject=Account%20Reactivation%3A%20{{username}})
to discuss restoring your account.
