Your SSH key update on **{{ sitename }}** has been processed and should be live within 30 minutes.

You can access the cluster from the machine you generated your SSH key on with the following command:

```
    ssh {{username}}@{{sitefqdn}}
```

Additional user documentation can be found at [https://docs.hpc.ucdavis.edu](https://docs.hpc.ucdavis.edu).
Please contact [hpc-help@ucdavis.edu](mailto:hpc-help@ucdavis.edu?subject=Support%20Request%3A%20{{sitename}}) for support requests.
