Your SSH key update on {{ cluster }} has been processed and should be live within 30 minutes.

You can access the cluster from the machine you generated your SSH key on with the following command:

	ssh {{username}}@{{domain}}

Please contact hpc-help@ucdavis.edu for future support requests.

