Your sponsor account on {{ cluster }} has been processed and should be live within 60-90 minutes.

You can access the cluster from the machine you generated your SSH key on with the following command:

	ssh {{username}}@{{domain}}

Your group's name is {{group}}; your new group will appear as a sponsor option in the HiPPO portal.

Please contact hpc-help@ucdavis.edu to discuss slurm and storage quotas.

