Your request to become a sponsor on **{{ sitename }}** has been accepted and 
should be live within 30 minutes. This will create a new group
through which you can manage your users, storage, and Slurm resources.

Your group's name is `{{group}}`; your new group will appear as a 
sponsor option in the HiPPO portal. Users can request access to your group
through HiPPO, and you must approve or deny their requests. You will
receive an email when a user requests access to your group. ___It is
the sponsor's responsibility to approve or deny access to their group.___
If you have any questions about this process, or would like to delegate
approval rights to another member of your group, please contact
[hpc-help@ucdavis.edu](mailto:hpc-help@ucdavis.edu?subject=Support%20Request%3A%20{{sitename}}).
