Your UC Davis HPC account **{{ username }}** has been marked for offboarding
because it no longer appears in the campus identity system (IAM). This usually
means your campus affiliation has ended.

Your account is scheduled to be deactivated on **{{ deactivation_date }}**. After
that date you will lose access to the clusters and your data may eventually be
removed.

If you need to continue using HPC@UCD resources after leaving the university, 
please work with your sponsor(s) to request Temporary Affiliate status (https://taf.ucdavis.edu/).

If you believe this is an error — for example, you still have an active campus
affiliation — please contact [hpc-help@ucdavis.edu](mailto:hpc-help@ucdavis.edu?subject=Account%20Offboarding%3A%20{{username}})
as soon as possible so we can restore your account before it is deactivated.
