cheeto account sync has failed on {{hostname}}. Please assign this ticket to Camille or Omen.

Timestamp:
{{timestamp}}

Executable:
{{pyexe}}

Args:
{{exeargs}}

{%- if logfile %}

Log:
{{logfile}}
{%- endif %}

Stacktrace:
{{stacktrace}}


